body{
    background-color: rgba(232, 123, 123, 0.153);
    color: rgb(40, 80, 40);

}
header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
    
}